@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply bg-[#06202A] text-gray-300;
  }
}
.responsiveimg {
  width: auto;
  max-width: 1024px;
  max-height: 200px;
  height: auto;
}

.responsivecard {
  max-width: 1920px;
  width: auto;
}

.image_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 2s;
}
.image_overlay:hover {
  opacity: 1;
  transition: transform 2s;
}

.image_overlay > * {
  transform: translateY(700px);
}

.image_overlay:hover > * {
  transform: translateY(-5px);
}

.huluimgsize {
  width: 200px;
  height: 100px;
}
